#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 300px;
  padding: 0 5px;
 
}

.float-container {
position: relative;
margin: 5px 0;
border: 2px solid red;
 width: 250px;
padding-top: 10px;
height: 40px;
}


 input{
  padding:5px;
  font-size:12px;
  width: 90%;

}

label{
  position: absolute;
  top:0;
  left:55px;
    pointer-events: none;
  transition: 0.3s ease-out;
  background-color: transparent;
 
}

form button{
  padding: 0.5em 0.6em;
  
  
}

  form input:focus + label,
  form input:not(:placeholder-shown) + label {
    top:-9px;
    left:13px;
    font-size:12px;
    background-color: white;
    color:#646cff;
  }
 /* input:focus + label,
input:not(:placeholder-shown) + label{
  top:-9px;
  left:7px;
  font-size:12px;
  background-color: white;
  color:#646cff;
} */

