#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

form{
  display: flex;
  justify-content: center;
  align-items: center;
  gap:10px;
  width: 300px;
}

.float-container {
position: relative;
margin: 10px;
}


 input{
  padding:5px;
  font-size:12px;
  width: 100%;

}

label{
  position: absolute;
  top:0;
  left:10px;
    pointer-events: none;
  transition: 0.2s ease all;
  background-color: transparent;
 
}

  input:focus + label,
  input:not(:placeholder-shown) + label{
    top:-9px;
    left:7px;
    font-size:12px;
    background-color: white;
    color:#646cff;
  }
 /* input:focus + label,
input:not(:placeholder-shown) + label{
  top:-9px;
  left:7px;
  font-size:12px;
  background-color: white;
  color:#646cff;
} */

