:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}



body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  margin-left: 10px;
  
}
button:hover {
  border-color: #646cff;
}



form{
  display: flex;
  position: relative;
  justify-content: space-between;
  width: 300px;
  padding: 0 5px;
 
}

.float-container {
position: relative;
margin: 5px 0;
border: 2px solid red;
 width: 250px;
padding-top: 10px;
height: 40px;
}


 input{
  padding:5px;
  font-size:12px;
  width: 90%;

}

label{
  position: absolute;
  top:0;
  left:55px;
    pointer-events: none;
  transition: 0.3s ease-out;
  background-color: transparent;
 
}

form button{
  padding: 0.5em 0.6em;
  
  
}

  form input:focus + label,
  form input:not(:placeholder-shown) + label {
    top:-9px;
    left:13px;
    font-size:12px;
   background-color: #242424;
    color:#FFFFFF;
  }

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  
  button {
    background-color: #f9f9f9;
  }
  button:hover {
    border-color: #646cff;
    
}
label{
  background-color: #242424;;

}